In [115]:
import pandas as pd
import numpy as np
import sqlite3

In [116]:
#Load data
google_df = pd.read_csv('/Users/marianaarrieta/Documents/Data_Projects/london_restaurants/raw_data/data_google_maps.csv')
opentable_df = pd.read_csv('/Users/marianaarrieta/Documents/Data_Projects/london_restaurants/raw_data/opentable_data.csv')

In [117]:
google_df.head()

,names,summary,cusine,price,reviews_count,rating,address,url
0,Restaurant Story,Chef Tom Sellers' novel approach to British cl...,Fine dining restaurant,££££,418 reviews,4.6,"199 Tooley St, London SE1 2JX",https://www.google.com/maps/place/Restaurant+S...
1,Galvin La Chapelle,NaN,French restaurant,££££,"1,901 reviews",4.6,NaN,https://www.google.com/maps/place/Galvin+La+Ch...
2,City Social,NaN,Modern European restaurant,££££,"1,187 reviews",4.5,NaN,https://www.google.com/maps/place/City+Social/...
3,Brawn,Mediterranean small plates menu with an 'all t...,Mediterranean restaurant,££,615 reviews,4.7,"49 Columbia Rd, London E2 7RG",https://www.google.com/maps/place/Brawn/@51.52...
4,Il Bordello,Old-school Italian restaurant with an authenti...,Italian restaurant,££,"1,170 reviews",4.5,"metropolitan wharf, 70 Wapping Wall, London E1...",https://www.google.com/maps/place/Il+Bordello/...

In [118]:
opentable_df.head()

,names,cuisine,price,reviews,rating,bookings,address
0,Seasons Mayfair,Fish,4,41.0,4.3,8.0,Mayfair
1,PAPA L's KITCHEN,African,4,257.0,4.6,6.0,St. James's
2,Coqbull Soho,Rotisserie Chicken,2,175.0,4.1,47.0,Soho
3,Ham Yard Bar and Restaurant,Modern European,2,3696.0,4.6,92.0,Soho
4,El Norte,Spanish,4,296.0,4.5,45.0,Mayfair

### Filter Google Data

In [119]:
#Remove duplicates, if any 
google_df.drop_duplicates(inplace = True)

#Remove rows where cusine = "Not a restaurant"
google_df = google_df[google_df.cusine != 'Not a restaurant']

#Remove rows where there are no ratings 
google_df = google_df[google_df.rating != 'Not Available']

### Filter Open Table Data

In [120]:
#Remove duplicates, if any 
opentable_df.drop_duplicates(inplace = True)

#Remove booking column 
opentable_df.drop(columns=['bookings'], inplace = True)

## Understand the Differences in Data

In [121]:
google_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 342 entries, 0 to 377
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   names          342 non-null    object
 1   summary        204 non-null    object
 2   cusine         341 non-null    object
 3   price          342 non-null    object
 4   reviews_count  342 non-null    object
 5   rating         342 non-null    object
 6   address        263 non-null    object
 7   url            342 non-null    object
dtypes: object(8)
memory usage: 24.0+ KB

In [122]:
opentable_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 0 to 499
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   names    400 non-null    object
 1   cuisine  400 non-null    object
 2   price    400 non-null    int64
 3   reviews  358 non-null    float64
 4   rating   350 non-null    float64
 5   address  400 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 21.9+ KB

In [123]:
#Different values in price
print(google_df.price.unique())
print(opentable_df.price.unique())

#Price ranges from 1 to 4, but we need to have the same format across tables
price_dict = {'£':1, '££':2, '£££':3, '££££':4, 'Not Available': np.nan}
#Map values
google_df['price'] = google_df['price'].map(price_dict)

['££££' '££' 'Not Available' '£££' '£']
[4 2 3]

In [126]:
#Clean reviews  and ratings before converting to float
google_df['reviews_count'] = google_df['reviews_count'].replace(',','', regex=True)
google_df['reviews_count'] = google_df['reviews_count'].replace('[a-zA-Z]','', regex=True)
google_df['reviews_count'] = google_df['reviews_count'].replace('',np.nan, regex=True)
google_df['reviews_count'] = google_df['reviews_count'].replace(""" ''""", np.nan, regex=True)
google_df['reviews_count'] = google_df['reviews_count'].str.strip()

google_df['rating'] = google_df['rating'].replace('Not Available', np.nan, regex=True)

In [127]:
google_df['reviews_count'] = google_df['reviews_count'].astype(float)

google_df['rating'] = google_df['rating'].astype(float)

In [128]:
#Make sure caps are the same in restaurant titles to be able to merge later
google_df['names'] = google_df['names'].str.lower()
google_df['names'] = google_df['names'].str.title()
opentable_df['names'] = opentable_df['names'].str.lower()
opentable_df['names'] = opentable_df['names'].str.title()

In [129]:
#Make column names suitable for merging 
google_df.rename({'cusine': 'Google Cuisine', 'price': 'Google Price', 'rating': 'Google Rating', 'reviews_count': "Google Review Count"}, axis=1, inplace=True)

In [130]:
opentable_df.rename({'cuisine': 'OpenTable Cuisine', 'price': 'OpenTable Price', 'rating': 'OpenTable Rating', 'reviews': "OpenTable Review Count"}, axis=1, inplace=True)

In [132]:
restaurants_df = pd.merge(google_df, opentable_df, how="inner", on=["names"])

In [135]:
len(google_df)

342

In [ ]:
pd.set_option('display.max_rows', 1000)
opentable_df.names.unique()

array(['Seasons Mayfair', "Papa L'S Kitchen", 'Coqbull Soho',
       'Ham Yard Bar And Restaurant', 'El Norte', 'Park Row',
       "Bill'S Restaurant & Bar - Soho", "Whitcomb'S", 'Temper Soho',
       'Maoz Soho', 'The Ivy Soho Brasserie', 'Happy',
       'Gaucho Piccadilly', 'Pierre Victoire', 'Forty Dean Street',
       'Tamarind Kitchen', 'Fishworks - Swallow Street', 'Robata',
       'Prix Fixe Brasserie', 'Sarap Bistro', 'Heddon Street Kitchen',
       'Farzi Cafe', 'Lobos Meat & Tapas - Soho', "Rowley'S Restaurant",
       'Estiatorio Milos – London', "Vasco & Piero'S Pavilion Restaurant",
       'Green Bar At Hotel Cafe Royal', 'Orient London',
       'Zima Russian Restaurant', 'Kanishka', 'Ino Gastrobar',
       'Pix Carnaby', 'Refuel Restaurant At The Soho Hotel',
       "Ruby'S Soho", 'The Rainforest Cafe London', 'Aqua Kyoto',
       'Sola Soho', 'Macellaio Rc Soho', 'Suvlaki Soho',
       'Red Dog Saloon Soho', 'The Good Egg Soho', 'Patara - Soho',
       'Obicà Mozzarella Bar - Poland Street', 'Pix - Soho',
       'Preto West End', 'O Ver St James', 'Baoziinn - Romilly Street',
       'Inamo - Soho', '8 At The Londoner', "Cecconi'S Pizza Bar",
       'Co&Ko', 'Bubba Gump Shrimp Co London', 'The Black Book',
       'Aqua Nueva', 'Bistro 1 Soho', 'Bosporus',
       'Jam Delish@ The Sun & 13 Cantons', 'Poppies Soho',
       'Heliot Steak House', 'Marsha Soho', 'Aquavit London',
       'Rooms By The Hour', 'Granaio Piccadilly', "Field By Fortnum'S",
       'The Stage At The Londoner', '100 Wardour St Bar & Lounge',
       'Soho Wala', 'Maison Francois', 'Amici Lounge Bar & Restaurant',
       'Mayfair Lounge And Grill', 'Lords', 'Soho Zebrano',
       'Temper Covent Garden', "Foley'S Restaurant",
       'J Sheekey - The Restaurant', 'Palm Court Brasserie',
       'Hakkasan - Hanway Place', "Maxwell'S", 'Tamarind',
       'May Fair Kitchen', 'Kintan Oxford Circus', 'Ivy Market Grill',
       'Le Garrick - Covent Garden', 'Brumus - Haymarket',
       "Mr White'S Leicester Square", 'La Rampa', 'Bocconcino',
       'Flesh & Buns Oxford Circus', 'The Riding House Cafe',
       'The Nomad London', 'Bagatelle London', 'Manthan',
       'Monmouth Kitchen', "Ginza St. James'S", '123V', 'Vespa',
       'Portland Restaurant', 'The Avocado Show London', 'Lima London',
       'Plants By Deliciously Ella', 'House Of Ho - Fitzrovia',
       'Brasserie Max - Covent Garden', 'Bloomsbury Street Kitchen',
       'The Rooftop At The Hippodrome Casino',
       'Afternoon Tea At The Biltmore Hotel', 'Aubaine Mayfair',
       'Floral By Lima', 'Ekstedt At The Yard', 'Sergios', 'Jeru',
       'Fatt Pundit Covent Garden', 'Le Boudin Blanc',
       'Blind Spot London', "L'Ulivo Villiers Street",
       "Prima Sapori D'Italia", 'Bab Mansour',
       'Madera At Treehouse London', 'Titu', 'Leicester Square Kitchen',
       'No.6 Cavendish', 'Big Easy Covent Garden', 'Boozy Tea Room',
       'The Northall At Corinthia London',
       'Gordon Ramsay Street Burger — Covent Garden', 'Mariage Frères',
       'Oscar Restaurant', 'Beast',
       'Gordon Ramsay Street Burger — Charing Cross Road',
       'Giannino Mayfair', 'Redfarm', 'Coravin Wine Bar',
       'The Footman - Mayfair', 'Moc Kitchen', '45 Jermyn St.', 'Kazu',
       "L'Artiste Muscle", 'Antipodea Richmond', 'Kurobuta Fitzrovia',
       '21Soho', 'The 40 Elephants', 'In Parma By Food Roots', 'Al Hamra',
       'Gaucho Charlotte Street', 'Bond Street Kitchen', 'Beso London',
       'Mother Mash Covent Garden', 'Greyhound Cafe', 'Ousia', 'Itaku',
       'Scoff & Banter Tea Rooms - Oxford Street',
       'Bobo Social Fitzrovia', 'Archipelago', 'Chesterfield Arms',
       'Bisushima', 'May Fair Bar',
       'The Restaurant At St Martins Lane London',
       'Caviar House & Prunier', 'The Rooftop', 'Rockwell',
       'Queens Of Mayfair', 'The Garden At Corinthia London',
       'Comptoir Café And Wine', 'Al Sultan',
       "Stringfellows - Gentleman'S Club And Restaurant",
       'Spaghetti House Goodge Street',
       'Spaghetti House Woodstock Street', 'Noura Mayfair',
       'Savoir Faire', 'Rai', '1857 The Bar',
       'Afternoon Tea At Caffe Concerto - Northumberland Av',
       'Giotto Macellaio', 'Angus Steakhouse Woodstock St',
       'Madison At The Washington Mayfair Hotel',
       'Hachi Japanese Bbq Restaurant', 'Brasserie Zedel',
       'The Monarch Theatre At Park Row', 'Mele E Pere', 'Blacklock Soho',
       'Hawksmoor Air Street', 'Hard Rock Cafe London Piccadilly Circus',
       'Engawa Restaurant', 'Afternoon Tea At The Oscar Wilde Lounge',
       'Andrew Edmunds', "Sticks'N'Sushi - Soho", 'Folie',
       'Old Compton Brasserie', 'Cakes & Bubbles At Hotel Cafe Royal',
       'Yauatcha Soho', 'Afternoon Tea At Bafarat Cafe', 'Jinjuu Soho',
       'Dean Street Townhouse', 'Madhu’S Of Mayfair',
       'Tendril - A (Mostly) Vegan Kitchen', "Cecconi'S",
       'Inko Nito London', 'Gauthier Soho', "L'Escargot",
       'Imperial Treasure', "Negroni'S", 'Lucky Cat By Gordon Ramsay',
       'Saint Jacques', "Quaglino'S", 'La Goccia', 'Jamavar',
       "St Martin'S House", 'The Petersham, Covent Garden', '2 Veneti',
       "Côte Brasserie - St Martin'S Lane", 'Bardo St James’S',
       'Inamo - Covent Garden', 'Ochre Restaurant',
       'Le Comptoir Robuchon', 'Stalls - London Coliseum',
       'American Bar Restaurant',
       'Afternoon Tea At Monmouth Kitchen, Covent Garden', 'Kikuchi',
       'It London', 'Les 110 De Taillevent, London',
       'The London Cheese Crawl - Food Tour', "Langan'S Brasserie",
       'Arros Qd', 'Roka - Charlotte Street', 'Mimi Mei Fair',
       'Thai Square Covent Garden', 'Bindas Eatery- Mayfair', 'Com Viet',
       'Meraki Restaurant', 'The Game Bird', 'Fumo',
       'Yalla Yalla Winsley St', 'Delfino Restaurant',
       'Sotheby’S Restaurant', 'Berkshire Lounge Bar', "Bellamy'S",
       'Afternoon Tea At The Radisson Blu Edwardian Kenilworth',
       'Afternoon Tea At The Bloomsbury Street Hotel', 'Murano',
       'Afternoon Tea At Caffe Concerto Green Park', 'Ormer Mayfair',
       'Gbr - Great British Restaurant @ Dukes London',
       'Afternoon Tea At Corinthia London',
       'Hélène Darroze At The Connaught', 'Eve Bar By Adam Handling',
       'Thai Square Trafalgar Square',
       'The Drawing Room At Dukes London (Afternoon Tea)',
       'Afternoon Tea At The Petersham, Covent Garden',
       'The Jones Family Affair', 'Kerridge’S Bar & Grill',
       'Da Paolo Restaurant', "Locket'S", "Manetta'S Bar",
       'Punjab Restaurant', 'Pahli Hill',
       "The Drawing Room At Brown'S Hotel", 'Palms Of Goa',
       'The Wine Place Covent Garden',
       'Afternoon Tea At The Chesterfield Mayfair',
       'The Parlour At Great Scotland Yard',
       "Sticks'N'Sushi - Covent Garden", 'Jean-Georges At The Connaught',
       'Café Murano - St James', 'Caffe Concerto Green Park',
       'Pied A Terre', 'Caffe Concerto - Whitehall', 'Da Henrietta',
       'Ping Pong Covent Garden',
       'The Clermont Restaurant And Bar, Charing Cross',
       'Avenue Restaurant', 'The Elysée', 'Pizzeria Mozza',
       'The Crusting Pipe', 'Parsons', 'Champagne Charlies',
       'Chefs Table At Lucky Cat By Gordon Ramsay', 'Noizé',
       'The Den At St Martins Lane London',
       'Salvador And Amanda Covent Garden',
       'The Foyer & Reading Rooms At Claridge’S',
       'Caffé Concerto - Oxford Street', 'Mamounia Lounge - Mayfair',
       'Koba', 'Pane Cunzato',
       'Afternoon Tea At Jean-Georges At The Connaught',
       'Afternoon Tea @ B Bakery', 'Giotto Restaurant',
       'Phoenix Arts Club', 'Creme De La Crepe', "Davy'S St James",
       'Wild Honey Terrace At Sofitel',
       'Spaghetti House Cranbourn Street', "Henry'S Cafe Bar Piccadilly",
       'Afternoon Tea At Caffe Concerto Whitehall', 'The Arber Garden',
       'Bonds Mayfair', 'Butlers At The Chesterfield', '1989 Clubhouse',
       'Tea And Tattle', 'Norma London', "Quaglino'S Bar",
       'The Long Acre', 'Bar Salsa!', 'Loop Bar', 'College Arms',
       'Lady Of The Grapes', 'Scoff & Banter - Bloomsbury',
       'Lucky Cat - Kori Kitchen Table',
       'Afternoon Tea At The May Fair Hotel', 'Kiln', 'Foxlow Soho',
       'Bob Bob Ricard', 'El Pastor - Soho', 'Hix Soho Restaurant & Bar',
       'Hix Soho – Mark’S Bar', 'Mash', 'Yolk - Soho', "The Queen'S Head",
       'Xu Teahouse & Restaurant', 'Clockjack',
       "Jamie'S Italian, Piccadilly", 'Jeow Jeow', 'Pampushka', 'Yeni',
       'Epoc', 'Wild Rice London', 'Ramo Ramen - Soho', 'Polpo London',
       'Nopi', 'Nopi - Downstairs, Sharing Tables',
       'Afternoon Tea At The Soho Sanctum Hotel', 'El Camion Soho',
       'Oka Kingly Court', "Sophie'S Steakhouse Soho", 'Wildheart',
       "Ma' Plucker", 'The Warwick', 'Cutter & Squidge',
       'Afternoon Tea At The Potion Room',
       'Signature Afternoon Tea At Cutter & Squidge', 'The Domino Room',
       'Jewel Piccadilly',
       'Green Bar At Hotel Cafe Royal - Permanently Closed',
       "Magnum Pleasure Store: Chef'S Table", 'The Sky Bar & Lounge',
       'Yoobi Soho', "Mildred'S - Soho", 'Yalla Yalla Soho', "Rita'S",
       'Grace', 'Afternoon Tea In The Domino Room', 'Mister Lasagna',
       'Paradise', 'Le Bab', "Figaro'S", 'Senor Ceviche - Carnaby',
       'Stax Diner', 'Yoshino', 'Benihana Piccadilly', 'Rumours',
       'Gaucho Training School', 'Ziggy Green', 'Fratelli La Bufala',
       'Moo Cantina Soho', 'Polpetto', 'Fallow', 'The Duck And Rice',
       'Pacific Restaurant', 'Magpie', 'Fortnum & Mason - Wine Bar',
       'Terrace At The Dilly', 'Piccolino Heddon Street',
       'Aubaine Heddon Street', 'Cafe Monico',
       "Bentley'S Oyster Bar & Grill", 'Sabor', 'Pickle & Toast',
       'The Cuckoo Club', 'Sports Bar & Grill Piccadilly Circus',
       "Martha'S Soho", 'Terrace Grill And Bar', 'Dehesa',
       'Social Eating House', 'Tank & Paddle Heddon Street',
       "Evelyn'S Table", 'Jakata', 'Carnaby Zebrano',
       "Imad'S Syrian Kitchen", 'The Mulwray', 'Mediterranean Café',
       'Yuu Kitchen At Icebar London', 'Casa Do Frango Heddon St',
       'Tapas Brindisa Rupert Street', "Rudy'S Neapolitan Pizza",
       'Rice Coming - Chinatown', 'Vesuvio Restaurant', 'Peperoncino',
       'Pizza Toscana', 'Princi - Shaftesbury Avenue.',
       'Ho Modern Vietnamese - Permanently Closed', 'The Araki'],
      dtype=object)